page-chat {
  .comentario {
    /* cada comentario */
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.2rem;
    }
    .card-content p{
      padding-top: 6px;
    }
  }

  .cajaTexto {
    height: 90px;

    .txt {
      height: 80px;
    }

    .button {
      /* Botones más grandes */
      height: 35px;
      width: 50%;

      .envio {
        font-size: 3.2rem;
      }

      .logoTW {
        font-size: 2.5rem;
      }
    }
  }

}
