<!--
  Generated template for the Chat page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Comentarios</ion-title>

        <ion-buttons end>
            <button ion-button right icon-only clear (click)="muestraMenu($event)">
                <i class="fas fa-sort"></i>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #content class="chat">


    <ion-infinite-scroll position="posicion" (ionInfinite)="quieroMas($event, !ordenChatAsc)">
            <ion-infinite-scroll-content loadingText="Descargando más comentarios..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    <ion-card class="comentario" *ngFor="let item of items">
        <ion-item>
            <ion-avatar item-left  (click)="muestraDatosUsuario(item.author_id)">
                <div *ngIf="item.author_image_original_url != null">
                    <img [src]="item.author_image_original_url" />
                </div>
                <div *ngIf="item.author_image_original_url == null">
                    <img src="assets/icon/icon.png" />
                </div>
            </ion-avatar>
            <h3>{{ item.author_fullname }}</h3>
            <p *ngIf="!mostrarFechasAbsolutas">{{ item.created_at | tiempoHastaAhora }}</p>
            <p *ngIf="mostrarFechasAbsolutas">{{ item.created_at | formateaFecha}}</p>
			<button ion-button item-right clear *ngIf="item.author_id == usuario_id" (click)="borrarComentario(item)">
                <ion-icon name='trash' class="envio"></ion-icon>
            </button>
        </ion-item>
        <ion-card-content>
            <!--p  class="message-container"  [innerHTML]="item.text | emojis" ></p-->
            <p  class="message-container"  [innerHTML]="item.text" ></p>
        </ion-card-content>
    </ion-card>

    <!--ion-infinite-scroll *ngIf="ordenChatAsc" (ionInfinite)="quieroMas($event, ordenChatAsc)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll-->
</ion-content>

<ion-footer class="cajaTexto">
    <button ion-button clear (click)="cambiaEnviaDos()">
        <i [class]='iconoEnvioTotal'></i>
    </button>
    <ion-item>
        <ion-textarea type='text' name='mensaje' autocomplete='true' autocorrect='on' spellcheck='on' placeholder='¡Exprésate!' [(ngModel)]='mensajeTxt' (ionFocus)='muestraTeclado()' (ionBlur)='ocultaTeclado()' (ionInput)= 'activaDesactiva()'></ion-textarea>
        <!-- <textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="myStuff"></textarea> -->
    </ion-item>
    <button ion-button clear [disabled]="desactivado" (click)="enviarComentario(formulario, 'spreaker')">
        <ion-icon name='send' class="envio"></ion-icon>
    </button>
    <button ion-button clear (click)="enviarComentario(formulario, 'twitter')">
        <ion-icon name='logo-twitter' class="logoTW"></ion-icon>
    </button>
</ion-footer>
