page-chat {

  .fa-sort {
    font-size: 2.2rem;
  }

  .comentario {
    /* cada comentario */
    h3 {
      /* nombre de usuario */
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: capitalize;
    }
    p {
      /* comentario de usuario */
      font-size: 1.4rem;
    }
    .button {
      height: 35px;
      padding-top: 12px;

      ion-icon {
        font-size: 3rem;
      }
    }
    .card-content p{
      /* espacio bajo la línea */
      padding-top: 6px;

      a {
        font-weight: bold;
      }
      img { /* emoji */
        width: auto;
        display: inline;
      }
      .emoji{
        margin-bottom: .25em;
        vertical-align: middle;
      }
    }
  }

  .cajaTexto {
    /* Área de escritura */
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;

    .item-textarea {
      /* caja de texto */
      border-radius: 5px;
      height: 30px;
      flex: 8 0;
      align-self: center;
    }

      .input-ios[clearInput] .text-input {
        padding-right: 0px;
      }

    .button {
      /* botones */
      height: 30px;
      width: 30px;
      flex: 0 0 30px;
      align-self: center;

      .envio {
        /* botón enviar al chat*/
        font-size: 3.5rem;
      }

      .fas {
        font-size: 2rem;
      }

      .logoTW {
        /* botón Twitter */
        font-size: 2.8rem;
      }
    }
  }



}
