page-capitulos-descargados {
  ion-list {
    .card {
      .hashtag {
        font-size: 1.4rem;
        font-weight: bold;
      }
      h3 {
        padding: 5px;
      }
      p {
        font-size: 1.2rem;
      }
      .iconos {
        padding-top: 5px;
        font-size: 1.2rem;

        ion-icon {
          font-size: 1.5rem;
          padding-right: 10px;
        }
      }
      .datos {
        padding-left: 15px;
      }
      .playBasura {
        padding-top: 30px;
        font-size: 3rem;
      }
      .button {
        margin-top: 25px;

        ion-icon {
          margin-top: 15px;
          font-size: 4rem;
        }
      }
    }
  }
  @media screen and (min-width: 35em) and (max-width: 64em) {
    // Móvil 4" Horizontal
    // iPad Vertical a dos columnas
    ion-list {
      overflow: hidden;
    }
    ion-list >.card {
      float: left;
      width: 48%;
      margin: 5px;
    }
    ion-list >.card:nth-child(odd) {
      clear: left;
    }
  }

  @media screen and (min-width: 64em) {
    // iPad Horizontal a tres columnas
    ion-list >.card {
      width: 32%;
    }
    ion-list >.card:nth-child(odd) {
      clear: none;
    }
  }
}
