page-capitulos-descargados {
  ion-list {
    .card {
      .hashtag {
        font-size: 1.4rem;
        font-weight: bold;
      }
      h3 {
        padding: 5px;
      }
      .texto{
          padding: 0;
      }
      p {
        font-size: 1.2rem;
      }
      .iconos {
        padding-top: 5px;
        font-size: 1.2rem;

        ion-icon {
          font-size: 1.5rem;
          padding-right: 10px;
        }
      }
      .datos {
        padding-left: 15px;

        p {
          width: 100%;
        }
      }
      .playBasura {
        padding-top: 30px;
        font-size: 3rem;
      }
      .button {
        margin-top: 20px;
        height: 50px;

        ion-icon {
          margin-top: 15px;
          font-size: 4rem;
        }
      }
    }
  }

  // Relación columna imagen | columna texto
  @media screen and (min-width: 21em) and (max-width: 25em) and (orientation:portrait) {
    // Móvil 4", 4.7" Vertical (336px a 400px)
    [col-4] {
      width: 25%;
      flex: 0 0 25%;
    }
    [col-8] {
      width: 75%;
      flex: 0 0 75%;
    }
  }

  @media screen and (min-width: 25.0625em) and (orientation:portrait) {
    // Móvil mayor de 4.7" Vertical (401px)
    [col-4] {
      width: 22%;
      flex: 0 0 22%;
    }
    [col-8] {
      width: 78%;
      flex: 0 0 78%;
    }
  }

  @media screen and (min-width: 37.5em) and (orientation:landscape) {
    // Móvil 4,7" y mayores Horizontal (600px)
    [col-4] {
      width: 22%;
      flex: 0 0 22%;
    }
    [col-8] {
      width: 78%;
      flex: 0 0 78%;
    }
  }

  // Número de columnas en el listado
  @media screen and (min-width: 35em) and (max-width: 47.9375em) {
    // Móvil 4" y mayores Horizontal (560px a 767px)
    ion-list {
      overflow: hidden;
    }
    ion-list >.card {
      float: left;
      width: 47%;
      margin: 8px;
    }
    ion-list >.card:nth-child(odd) {
      clear: left;
    }
  }

  @media screen and (min-width: 48em) and (max-width: 63.9375em) {
    // Tablet Vertical a dos columnas (768px a 1023px)
    ion-list >.card {
      float: left;
      width: 48%;
      margin: 7px;
    }
    ion-list >.card:nth-child(odd) {
      clear: left;
    }
  }

  @media screen and (min-width: 64em) {
    // Tablet Horizontal a tres columnas (1024px)
    ion-list >.card {
      width: 32%;
      margin: 6px;
      float: left;
    }
    ion-list >.card:nth-child(odd) {
      clear: none;
    }
  }
}
