page-capitulos-descargados {
  ion-list {
    .card {
      .hashtag {
        font-size: 1.4rem;
        font-weight: bold;
      }
      h3 {
        padding-bottom: 0px;
      }
      .capDirecto {
        margin-top: 10%;

        .iconoCD {
          float:left;
          margin-left: 15%;
          margin-right: 10px;

          ion-icon {
            font-size: 5rem;
          }
        }
        .textoCD {
          font-size: 3rem;
          padding-top: 10px;
        }
      }
      p {
        font-size: 1.2rem;
      }
      .iconos {
        font-size: 1.2rem;
        ion-icon {
            font-size: 1.5rem;
        }
      }
    }
  }
  @media screen and (min-width: 35em) and (max-width: 64em) {
    // Móvil 4" Horizontal
  //@media screen and (min-width: 44em) {
    // iPad Vertical a dos columnas
    ion-list {
      overflow: hidden;
    }
    ion-list >.card {
      float: left;
      width: 48%;
      margin: 5px;
    }
    ion-list >.card:nth-child(odd) {
      clear: left;
    }
  }

  @media screen and (min-width: 64em) {
    // iPad Horizontal a tres columnas
    ion-list >.card {
      width: 32%;
    }
    ion-list >.card:nth-child(odd) {
      clear: none;
    }
  }
}
