page-info-usuario {
  ion-card {
    img {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }

    ion-label {
      // Etiquetas de las opciones
      font-size: 0.9em;
    }
    ion-input {
      font-size: 0.9em;
      font-weight: bold;
    }
    .button {
      /* Botones pulsables */
      border-radius: 5px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  // Relación columna imagen | columna texto
  @media screen and (min-width: 21em) and (orientation:portrait) {
    // Móvil 4.7" y mayores Vertical (336px)
    ion-card {
      img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }
    }
  }

  @media screen and (min-width: 37.5em) and (orientation:landscape) {
    // Móvil 4,7" y mayores Horizontal (600px)
    ion-card {
      img {
        width: 45%;
        float: left;
        padding-right: 25px;
        margin-left: 4%;
      }
    }
  }

  @media screen and (max-width: 47.9375em) and (orientation:landscape) {
    // Móviles en Horizontal
    ion-card {
      img {
        width: 40%;
        float: left;
        margin-left: 4%;
        padding-right: 25px;
      }
    }
  }

}
