page-slide-inicio {

    .saltar {
      font-family: "roboto";
      font-size: 1.5rem;
      font-weight: bold;
    }

    .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    }

      .empieza {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: "roboto";
        font-size: 2rem;
        font-weight: bold;
      }

    .toolbar-background {
        border-color: transparent;
    }

    .diapo-image {
      max-height: 50%;
      max-width: 60%;
      //margin: 18px 0;
    }

}
