<!--
  Generated template for the SlideInicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!--ion-navbar>
    <ion-title>Ayuda</ion-title>
    <ion-buttons end>
      <button class="saltar">Saltar</button>
    </ion-buttons>
  </ion-navbar-->
</ion-header>

<ion-content>
  <ion-slides direction=horizontal pager=true centeredSlides=true initialSlide="0"  (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let diapo of diapos">
      <!--ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Saltar ayuda</button>
        </ion-buttons>
      </ion-toolbar-->
      <div class="contenedor" *ngIf="!horizontal && panoramico">
        <!--h2 class="diapo-title" [innerHTML]="diapo.titulo"></h2-->
        <img [src]="diapo.imagenV169" class="diapo-imagen"/>
        <!--<p [innerHTML]="diapo.descripcion"></p>-->
        <button class="empieza" icon-end (click)="letsRock()" *ngIf="diapo.boton">
          ¿Empezamos? <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>

      <div  *ngIf="!horizontal && !panoramico">
        <!--h2 class="diapo-title" [innerHTML]="diapo.titulo"></h2-->
        <img [src]="diapo.imagenV43" class="diapo-imagen"/>
        <!--<p [innerHTML]="diapo.descripcion"></p>-->
        <button class="empieza" icon-end (click)="letsRock()" *ngIf="diapo.boton">
            ¿Empezamos? <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>

      <div  *ngIf="horizontal && panoramico">
        <!--h2 class="diapo-title" [innerHTML]="diapo.titulo"></h2-->
        <img [src]="diapo.imagenH169" class="diapo-imagen"/>
        <!--<p [innerHTML]="diapo.descripcion"></p>-->
        <button class="empieza" icon-end (click)="letsRock()" *ngIf="diapo.boton">
            ¿Empezamos? <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>

      <div  *ngIf="horizontal && !panoramico">
        <!--h2 class="diapo-title" [innerHTML]="diapo.titulo"></h2-->
        <img [src]="diapo.imagenH43" class="diapo-imagen"/>
        <!--<p [innerHTML]="diapo.descripcion"></p>-->
        <button class="empieza" icon-end (click)="letsRock()" *ngIf="diapo.boton">
            ¿Empezamos? <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>

    <!--ion-slide>
      <!--ion-toolbar> </ion-toolbar>
      <img src="assets/images/SI6.png" class="diapo-image"/>
      <button ion-button large clear icon-end color="primary" (click)="letsRock()">
          ¿Empezamos? <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide-->

  </ion-slides>
</ion-content>
