<ion-header>
    <ion-navbar color=(color)>

        <button ion-button left menuToggle icon-only>
        	<ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            La cAPPfetera
        </ion-title>

        <ion-buttons end>
            <button ion-button right icon-only clear [navPush]="infoFer">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="hacerCafe($event)">
        <ion-refresher-content loadingText="Haciendo café..."></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let item of items" (click)="pushPage(item)" text-wrap>
            <ion-thumbnail item-left>
                <img [src]="item.image_url" />
            </ion-thumbnail>

            <h3>{{ item.title }}</h3>

            <p>{{ item.published_at |tiempoHastaAhora }}</p>
            <!--ion-badge item-right *ngIf="item.episode_id==capEnRep">En reproducción</ion-badge-->
            <button item-right outline *ngIf="item.episode_id==capEnRep">
                <ion-icon name="play"></ion-icon>
            </button>

            <!--ion-row no-padding>
                <ion-col text-right>
                    <button ion-button clear small color="peace" icon-left>
                        <ion-icon name='heart'>254</ion-icon>
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button clear small color="danger" icon-left>
                        <ion-icon name='play'>32</ion-icon>
                    </button>
                </ion-col>
            </ion-row-->

        </ion-item>
        <!--/button-->
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="recalentarCafe($event)">
        <ion-infinite-scroll-content loadingText="Recalentando café..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<!--ion-nav #content swipeBackEnabled="false">
</ion-nav-->