<ion-header>
    <ion-navbar color=(color)>

        <button ion-button left menuToggle icon-only>
        	<ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            La cAPPfetera
        </ion-title>

        <ion-buttons end>
            <button ion-button right icon-only clear [navPush]="infoFer">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="hacerCafe($event)">
        <ion-refresher-content loadingText="Haciendo café..."></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-card *ngFor="let item of items" (click)="pushPage(item)" text-wrap>
            <ion-row>
                <ion-col width-33>
                    <div id="imagen">
                        <img [src]="item.image_url" />
                    </div>
                </ion-col>

                <ion-col width-66>
                    <div class="texto">
                        <h3>{{ item.title }}</h3>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="iconos">
                <ion-col width-40>
                    <p>{{ item.published_at |tiempoHastaAhora }}</p>
                </ion-col>

                <ion-col width-15 icon-left>
                    <ion-icon name='chatbubbles'></ion-icon>
                    255
                </ion-col>

                <ion-col width-15 icon-left>
                    <ion-icon name='heart'></ion-icon>
                    255
                </ion-col>

                <ion-col width-15 icon-right text-center>
                    <ion-icon name="ion-radio-waves" *ngIf="item.type=='LIVE'"></ion-icon>
                </ion-col>

                <ion-col width-15 icon-right text-center>
                    <ion-icon name="play" *ngIf="item.episode_id==capEnRep"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="recalentarCafe($event)">
        <ion-infinite-scroll-content loadingText="Recalentando café..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<!--ion-nav #content swipeBackEnabled="false">
</ion-nav-->