<ion-header>
    <ion-navbar color=(color)>

        <button ion-button left menuToggle icon-only>
        	<ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            La cAPPfetera
        </ion-title>

        <ion-buttons end>
            <button ion-button right icon-only clear [navPush]="infoFer">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content main>

    <ion-refresher (ionRefresh)="hacerCafe($event)">
        <ion-refresher-content loadingText="Haciendo café..."></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-card *ngFor="let item of items" text-wrap>
            <ion-row class="hashtag" *ngIf="item.title.indexOf('#')> -1">
                <!-- Aquí lo suyo sería que si el hashtag está vacío, no salga el row, seguro que esto Jose Carlos lo hace guay ;) -->
                <ion-col>
                    <a [href]="dameEnlace(item.title)">{{ item.title | muestraHashtag }} &nbsp;<ion-icon name="md-arrow-round-forward"></ion-icon>&nbsp;<ion-icon name="logo-twitter"></ion-icon></a>
                </ion-col>
            </ion-row>

            <ion-row (click)="pushPage(item)">
                <ion-col width-33>
                    <div id="imagen">
                        <img [src]="item.image_url" />
                    </div>
                </ion-col>

                <ion-col width-66>
                    <div class="texto">
                        <div *ngIf="item.type!='LIVE'">
                            <h3>{{ item.title | eliminaHashtag }}</h3>
                        </div>
                        <div class="capDirecto" *ngIf="item.type=='LIVE'">
                            <!-- Muestra el icono y el texto en directo -->
                            <div class="iconoCD">
                                <ion-icon name="ios-radio-outline"></ion-icon>
                            </div>
                            <div class="textoCD">
                                Directo
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="iconos" (click)="pushPage(item)">
                <ion-col width-40>
                    <p>{{ item.published_at |tiempoHastaAhora }}</p>
                </ion-col>

                <ion-col width-25 icon-left>
                    <ion-icon name='chatbubbles'></ion-icon>
                    {{ item.messages_count}}
                    <!-- Valor escrito a mano para maquetar -->
                </ion-col>

                <ion-col width-25 icon-left>
                    <ion-icon name='heart'></ion-icon>
                    {{ item.likes_count}}
                    <!-- Valor escrito a mano para maquetar -->
                </ion-col>

                <ion-col width-10 icon-right text-center>
                    <ion-icon name="play" *ngIf="item.episode_id==capEnRep"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="recalentarCafe($event)">
        <ion-infinite-scroll-content loadingText="Recalentando café..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<!--ion-nav #content swipeBackEnabled="false">
</ion-nav-->