page-home {

	@media screen and (min-width: 44em) { // iPad Vertical a dos columnas
	  ion-list {
	    overflow: hidden;
	  }
	  ion-list > .card {
	    float: left;
	    width: 48%;
			margin: 5px;
	  }
	  ion-list > .card:nth-child(odd) {
	    clear: left;
	  }
	}
	@media screen and (min-width: 64em) { // iPad Horizontal a tres columnas
	  ion-list > .card {
	    width: 32%;
	  }
	  ion-list > .card:nth-child(odd) {
	    clear: none;
	  }
	}

	ion-list {
		.card {
			h3 {
				padding-bottom: 0px;
			}
			p {
				font-size: 1.2rem;
			}
			.iconos {
				font-size: 1.2rem;

				ion-icon {
					font-size: 1.5rem;
				}
			}
		}
	}
}
