page-home {

	ion-list {
		.card {
			h3 {
				padding-bottom: 0px;
			}
			p {
				font-size: 1.2rem;
			}
			.iconos {
				font-size: 1.2rem;

				ion-icon {
					font-size: 1.5rem;
				}
			}
		}
	}
}
