.tema-lila {

// ******************************************************************* Estilos comunes a toda la App

  .toolbar-background {
    // Fondo de la barra de la App
    background-color: $lila-fondoBarra;
  }
  .bar-button {
    // Botones de la barra de la App
    color: white;
  }
  .toolbar-title {
    // Nombre de la App
    color: white;
  }
  .scroll-content {
    /* color de fondo de la App */
    background-color: $lila-fondoApp;
  }
  a {
    color: $lila-primary;
  }

  // ******************************************************************* Estilos del menú cafetero app.html

    .menuCafetero {

      ion-label {
        /* Etiquetas de las opciones */
        color: $lila-primary;
      }

      ion-select {
        /* Opción seleccionada de tema */
        color: $lila-primary;
      }

      .toggle-checked {
        /* botones deslizantes */
        //background-color: $lila-primary;
      }

      .button {
        /* Botones pulsables */
        border: solid 1px $lila-primary;
        color: $lila-primary;
        background-color: $lila-light;
      }

      .version p {
        /* versión de la App */
        color: $lila-dark;
      }

    }

// ******************************************************************* Estilos página listado de capítulos home.html
page-home {
  ion-list {
    background-color: $lila-fondoApp;

    .card {
      .hashtag {
        border-bottom: solid 1px $lila-light;
        box-shadow: 0px 0px 1px $lila-dark;

        a:active {
          color: $lila-light;
        }
      }
      .fas {
        color: $lila-primary;
      }
      h3 {
        color: $lila-primary;
      }
      .capDirecto {
        color: $lila-danger;

        .iconoCD {

          .fas {
            color: $lila-danger;
          }
        }
      }
      p {
        color: $lila-primary;
      }
      #imagen img{
        box-shadow: 2px 2px 2px $lila-dark;
      }
      .iconos {
    		border-top: solid 1px $lila-dark;
        color: $lila-primary;

        ion-icon {
          color: $lila-primary;
        }

        .reproduciendo {
          color: $lila-danger;
        }

        .likesi {
          color: $lila-danger;
        }
      }
    }
  }
}

// ******************************************************************* Estilos página de reproductor de capítulo reproductor.html

  .card {
    /* color de fondo de la tarjeta del reproductor */
    background-color: $lila-fondoCard;

    #titular {
      /* Línea de separación del titular */
      border-bottom: solid 1px $lila-primary;

     .card-title {
        p {/* texto del titular */
          color: $lila-primary;
        }
        a { /* Enlaces hashtag y usr twitter */
          color: $lila-danger;
        }
        a:active {
          /* Enlace hashtag pulsado*/
          color: $lila-light;
        }
      }
    }

    #imagen-cap img {
      /* proyección de sombra de imagen del capítulo */
      box-shadow: 3px 3px 3px $lila-dark;
    }

    ion-fab {
      button {
        background-color: $lila-danger;
      }
    }

    .enVivoTexto {
      border: solid 2px $lila-danger;
      background-color: $lila-danger;
      color: white;
    }

    #enVivo {
      .botonDirectoAtras, .botonDirecto, .botonDirectoStop {
        /* botones de reproducción en vivo */
        color: $lila-danger;
        background-color: $lila-fondoCard;
      }

      .botonDirectoAtras:active, .botonDirecto:active, .botonDirectoStop:active {
        /* botones de reproducción en vivo */
        color: $lila-primary;
        background-color: $lila-fondoCard;
      }
    }

    /* botones de reproducción diferido */
    .playBtn, .ffBtn {
      color: $lila-primary;
      background-color: $lila-fondoCard;
    }

    .playBtn:active, .ffBtn:active {
      color: $lila-danger;
      background-color: $lila-fondoCard;
    }

    /* barra de estado */
    .range-bar {
      background-color: $lila-light;
    }
    .range-bar-active {
      background-color: $lila-primary;
    }

    #tiempo-lleva {
      /* tiempo de reproducción */
      color: $lila-primary;
    }
    #tiempo-falta {
      /* tiempo de restante */
      color: $lila-primary;
    }

    .social {
      /* líneas de separación sup e inf en botonera social */
      border-top: solid 1px $lila-primary;
      border-bottom: solid 1px $lila-primary;
      background-color: $lila-light;

      .button {
        color: $lila-primary;
      }
      .porcentaje p {
        color: $lila-danger;
      }
    }

    .progress-outer {
      /* color de fondo de la barra de descarga */
      background-color: $lila-fondoCard;
      border: 1px solid $lila-secondary;
      color: $lila-primary;
    }
      .progress-inner {
        /* color de fondo de la barra de descarga */
        background-color: $lila-secondary;
      }
  }

// ******************************************************************* Estilos página de chat chat.html
    .comentario {
      ion-item {
        background-color: $lila-fondoCard;

        h3 {
          color: $lila-danger;
        }
        p {
          color: $lila-primary;
        }
        .button {
          color: $lila-primary;
        }
      }

      .card-content p{
        color: $lila-primary;
        border-top: solid 1px $lila-light;

        a {
          color: $lila-danger;
        }
      }
    }

    .cajaTexto {
      color: $lila-primary;
      border-top: solid 1px $lila-light;
      background-color: $lila-light;

      .item-textarea {
        color: $lila-primary;
        border: solid 1px $lila-primary;
        background-color: $lila-light;

        .text-input::placeholder {
          color: $lila-primary;
        }
      }

      .button {
         color: $lila-primary;
      }
    }

// ******************************************************************* Estilos página de usuario info-usu-chat.html
  page-info-usu-chat {
    .card-title {
      color: $lila-danger;
    }
    p {
      color: $lila-primary;
    }
    .followers {
      color: $lila-primary;

      ion-badge {
        background-color: $lila-primary;
      }
    }
    .rrss {
      color: $lila-primary;

      ion-icon {
        color: $lila-primary;
      }
      .inactivo {
        color: $lila-light;
      }
    }
  }

// ******************************************************************* Estilos página datos Spreaker info-usuario.html
  page-info-usuario {
    ion-item {
      border-bottom: solid 1px $lila-light;
      background-color: $lila-fondoCard;

      ion-label {
        // Etiquetas de las opciones
        color: $lila-primary;
      }
      ion-input {
        // Nombre de usuario
        color: $lila-primary;
      }
    }

    .button {
      /* Botones pulsables */
      border: solid 1px $lila-primary;
      color: $lila-primary;
      background-color: $lila-light;
    }
  }
// ******************************************************************* Estilos página listado de capítulos descargados capitulos-descargados.html
  page-capitulos-descargados {
    ion-list {
      .card {
        .hashtag {
          /* Línea y sombra de separación del titular */
          border-bottom: solid 1px $lila-light;
          box-shadow: 0px 0px 1px $lila-dark;

          a:active {
            /* Enlace hashtag pulsado*/
            color: $lila-light;
          }
        }
        h3 {
          /* Resto de texto del titular */
          color: $lila-primary;
          border-top: solid 1px $lila-light;
        }
        p {
          /* Texto tiempo que hace del capítulo */
          color: $lila-primary;
        }
        #imagen img{
          /* Imagen del capítulo */
          box-shadow: 2px 2px 2px $lila-dark;
        }
        .iconos {
          /* Color y borde zona iconos */
          color: $lila-primary;

          ion-icon {
            /* Iconos */
            color: $lila-primary;
          }

          .likesi {
            color: $lila-danger;
          }
        }
      }
      .playBasura {
        color: $lila-primary;
      }
      .button {
        ion-icon {
          color: $lila-primary;
        }
      }
    }
  }

  // ******************************************************************* Estilos página listado de capítulos descargados capitulos-descargados.html
  page-lista-Puntos-Cap {

    ion-list {

      .card {
        h2 {
          color: $lila-primary;
        }
        h3 {
          color: $lila-primary;
        }
        .texto{
          color: $lila-primary;
        }
      }
    }
  }

}
