.tema-base {

// ******************************************************************* Estilos comunes a toda la App

  .toolbar-background {
    // Fondo de la barra de la App
    background-color: $base-fondoBarra;
  }
  .bar-button {
    // Botones de la barra de la App
    color: $base-dark;
  }
  .toolbar-title {
    // Nombre de la App
    color: $base-dark;
  }
  .scroll-content {
    /* color de fondo de la App */
    background-color: $base-fondoApp;
  }
  a {
    /* Color de los enlaces */
    color: $base-primary;
  }

// ******************************************************************* Estilos del menú cafetero app.html

  .menuCafetero {

    ion-label {
      /* Etiquetas de las opciones */
      color: $base-primary;
    }

    ion-select {
      /* Opción seleccionada de tema */
      color: $base-primary;
    }

    .toggle-checked {
      /* botones deslizantes */
      background-color: $base-primary;
    }

    .button {
      /* Botones pulsables */
      border: solid 1px $base-primary;
      color: $base-primary;
      background-color: $base-light;
    }

    .version p {
      /* versión de la App */
      color: $base-dark;
    }

  }

// ******************************************************************* Estilos página listado de capítulos home.html

  ion-list {
    .card {
      .hashtag {
        /* Línea y sombra de separación del titular */
        border-bottom: solid 1px $base-light;
        box-shadow: 0px 0px 1px $base-dark;

        a:active {
          /* Enlace hashtag pulsado*/
          color: $base-light;
        }
      }
      h3 {
        /* Resto de texto del titular */
        color: $base-primary;
      }
      .capDirecto {
        /* Texto + icono Directo */
        color: $base-danger;
      }
      p {
        /* Texto tiempo que hace del capítulo */
        color: $base-primary;
      }
      #imagen img{
        /* Imagen del capítulo */
        box-shadow: 2px 2px 2px $base-dark;
      }
      .iconos {
        /* Color y borde zona iconos */
    		border-top: solid 1px $base-light;
        color: $base-primary;

        ion-icon {
          /* Iconos */
          color: $base-primary;
        }

        .likesi {
          color: $base-danger;
        }
      }
    }
  }

// ******************************************************************* Estilos página de reproductor de capítulo reproductor.html

  .card {
    /* color de fondo de la tarjeta del reproductor */
    background-color: $base-fondoCard;

    #titular {
      /* Línea de separación del titular */
      border-bottom: solid 1px $base-primary;

     .card-title {
        p {/* texto del titular */
          color: $base-primary;
        }
        a { /* Enlaces hashtag y usr twitter */
          color: $base-danger;
        }
        a:active {
          /* Enlace hashtag pulsado*/
          color: $base-light;
        }
      }
    }

    #imagen-cap img {
      /* proyección de sombra de imagen del capítulo */
      box-shadow: 3px 3px 3px $base-dark;
    }

    #enVivo .button {
      /* botón de reproducción en vivo */
      border: solid 2px $base-danger;
      background-color: $base-danger;
    }

    #botonera .button {
      /* botones de reproducción diferido */
      border-color: $base-primary;
      background-color: $base-light;
      color: $base-primary;
    }

    #botonera .button:active {
      background-color: $base-primary;
      color: $base-light;
    }

    .range-bar {
      background-color: $base-light;
    }
    .range-bar-active {
      background-color: $base-primary;
    }

    #tiempo-lleva {
      /* tiempo de reproducción */
      color: $base-primary;
    }
    #tiempo-falta {
      /* tiempo de restante */
      color: $base-primary;
    }

    .social {
      /* líneas de separación sup e inf en botonera social */
      border-top: solid 1px $base-primary;
      border-bottom: solid 1px $base-primary;
      background-color: $base-light;

      .button {
        color: $base-primary;
      }
      .porcentaje p {
        color: $base-danger;
        background-color: $base-light;
      }
    }

    .progress-outer {
      /* color de fondo de la barra de descarga */
      background-color: $base-fondoCard;
      border: 1px solid $base-secondary;
      color: $base-primary;
    }
      .progress-inner {
        /* color de fondo de la barra de descarga */
        background-color: $base-secondary;
      }
  }

// ******************************************************************* Estilos página de chat chat.html
  .comentario {
    ion-item {
      background-color: $base-fondoCard;

      h3 {
        color: $base-danger;
      }
      p {
        color: $base-primary;
      }
      .button {
        color: $base-primary;
      }
    }

    .card-content p{
      color: $base-primary;
      border-top: solid 1px $base-light;
    }
  }

  .cajaTexto {
    border-top: solid 1px $base-light;

    .item-textarea {
      color: $base-primary;
      border: solid 1px $base-light;
    }

    .button {
       color: $base-primary;
    }
  }

// ******************************************************************* Estilos página de usuario info-usu-chat.html
  page-info-usu-chat {
    .card-title {
      color: $base-danger;
    }
    p {
      color: $base-primary;
    }
    .followers {
      color: $base-primary;

      ion-badge {
        background-color: $base-primary;
      }
    }
    .rrss {
      color: $base-primary;

      ion-icon {
        color: $base-primary;
      }
      .inactivo {
        color: $base-light;
      }
    }
  }
}
