.tema-base {

// ******************************************************************* Estilos comunes a toda la App

  .toolbar-background {
    // Fondo de la barra de la App
    background-color: $base-fondoBarra;
  }
  .bar-button {
    // Botones de la barra de la App
    color: white;
  }
  .toolbar-title {
    // Nombre de la App
    color: white;
  }
  .scroll-content {
    /* color de fondo de la App */
    background-color: $base-fondoApp;
  }

// ******************************************************************* Estilos página listado de capítulos home.html

  ion-list {
    .card {
      h3 {
        color: $base-primary;
      }
      p {
        color: $base-primary;
      }
      #imagen img{
        box-shadow: 2px 2px 2px $base-dark;
      }
      .iconos {
    		border-top: solid 1px $base-light;
        color: $base-primary;

        ion-icon {
          color: $base-primary;
        }
      }
    }
  }

// ******************************************************************* Estilos página de reproductor de capítulo reproductor.html

  .card {
    /* color de fondo de la tarjeta del reproductor */
    background-color: $base-fondoCard;

    #titular {
      /* Línea de separación del titular */
      border-bottom: solid 1px $base-primary;

     .card-title {
        /* texto del titular */
        color: $base-primary;
      }
    }

    #imagen-cap img {
      /* proyección de sombra de imagen del capítulo */
      box-shadow: 3px 3px 3px $base-dark;
    }

    #enVivo .button {
      /* botón de reproducción en vivo */
      border: solid 2px $base-danger;
      background-color: $base-danger;
    }

    #botonera .button {
      /* botones de reproducción diferido */
      border-color: $base-primary;
      color: $base-primary;
    }

    .range-bar {
      background-color: $base-primary;
    }
    .range-bar-active {
      background-color: $base-dark;
    }

    #tiempo-lleva {
      /* tiempo de reproducción */
      color: $base-primary;
    }
    #tiempo-falta {
      /* tiempo de restante */
      color: $base-primary;
    }

    .social {
      /* líneas de separación sup e inf en botonera social */
      border-top: solid 1px $base-primary;
      border-bottom: solid 1px $base-primary;
      background-color: $base-light;

     .button {
        color: $base-primary;
      }
    }

    .progress-outer {
      /* color de fondo de la barra de descarga */
      background-color: $base-fondoCard;
      border: 1px solid $base-secondary;
      color: $base-light;
    }
      .progress-inner {
        /* color de fondo de la barra de descarga */
        background-color: $base-secondary;
      }
  }

// ******************************************************************* Estilos página de chat chat.html
    .comentario {
      ion-item {
        background-color: $base-fondoCard;

        h3 {
          color: $base-danger;
        }
        p {
          color: $base-primary;
        }
      }

      .card-content p{
        color: $base-primary;
        border-top: solid 1px $base-light;
      }
    }
}
