.tema-cafe {

// ******************************************************************* Estilos comunes a toda la App

  .toolbar-background {
    // Fondo de la barra de la App
    background-color: $cafe-fondoBarra;
  }
  .bar-button {
    // Botones de la barra de la App
    color: white;
  }
  .toolbar-title {
    // Nombre de la App
    color: white;
  }
  .scroll-content {
    /* color de fondo de la App */
    background-color: $cafe-fondoApp;
  }
  a {
    color: $cafe-primary;
  }

  // ******************************************************************* Estilos del menú cafetero app.html

    .menuCafetero {

      ion-label {
        /* Etiquetas de las opciones */
        color: $cafe-primary;
      }

      ion-select {
        /* Opción seleccionada de tema */
        color: $cafe-primary;
      }

      .toggle-checked {
        /* botones deslizantes */
        background-color: $cafe-primary;
      }

      .button {
        /* Botones pulsables */
        border: solid 1px $cafe-primary;
        color: $cafe-primary;
        background-color: $cafe-light;
      }

      .version p {
        /* versión de la App */
        color: $cafe-dark;
      }

    }

// ******************************************************************* Estilos página listado de capítulos home.html

  ion-list {
    .card {
      .hashtag {
        border-bottom: solid 1px $cafe-light;
        box-shadow: 0px 0px 1px $cafe-dark;

        a:active {
          color: $cafe-light;
        }
      }
      h3 {
        color: $cafe-primary;
      }
      .capDirecto {
        color: $cafe-danger;
      }
      p {
        color: $cafe-primary;
      }
      #imagen img{
        box-shadow: 2px 2px 2px $cafe-dark;
      }
      .iconos {
    		border-top: solid 1px $cafe-light;
        color: $cafe-light;

        ion-icon {
          color: $cafe-light;
        }

        .likesi {
          color: $cafe-danger;
        }

        p {
          color: $cafe-light;
        }
      }
    }
  }

// ******************************************************************* Estilos página de reproductor de capítulo reproductor.html

  .card {
    /* color de fondo de la tarjeta del reproductor */
    background-color: $cafe-fondoCard;

    #titular {
      /* Línea de separación del titular */
      border-bottom: solid 1px $cafe-primary;

     .card-title {
        p {/* texto del titular */
          color: $cafe-primary;
        }
        a { /* Enlaces hashtag y usr twitter */
          color: $cafe-danger;
        }
        a:active {
          /* Enlace hashtag pulsado*/
          color: $cafe-light;
        }
      }
    }

    #imagen-cap img {
      /* proyección de sombra de imagen del capítulo */
      box-shadow: 3px 3px 3px $cafe-dark;
    }

    #enVivo .button {
      /* botón de reproducción en vivo */
      border: solid 2px $cafe-danger;
      background-color: $cafe-danger;
    }

    #botonera .button {
      /* botones de reproducción diferido */
      border-color: $cafe-primary;
      color: $cafe-primary;
    }

    .range-bar {
      background-color: $cafe-light;
    }
    .range-bar-active {
      background-color: $cafe-primary;
    }

    #tiempo-lleva {
      /* tiempo de reproducción */
      color: $cafe-primary;
    }
    #tiempo-falta {
      /* tiempo de restante */
      color: $cafe-primary;
    }

    .social {
      /* líneas de separación sup e inf en botonera social */
      border-top: solid 1px $cafe-primary;
      border-bottom: solid 1px $cafe-primary;
      background-color: $cafe-light;

     .button {
        color: $cafe-primary;
      }
    }

    .progress-outer {
      /* color de fondo de la barra de descarga */
      background-color: $cafe-fondoCard;
      border: 1px solid $cafe-secondary;
      color: $cafe-primary;
    }
      .progress-inner {
        /* color de fondo de la barra de descarga */
        background-color: $cafe-secondary;
      }
  }

// ******************************************************************* Estilos página de chat chat.html
    .comentario {
      ion-item {
        background-color: $cafe-fondoCard;

        h3 {
          color: $cafe-danger;
        }
        p {
          color: $cafe-primary;
        }
      }

      .card-content p{
        color: $cafe-primary;
        border-top: solid 1px $cafe-light;
      }
    }

    .cajaTexto {
      color: $cafe-primary;
      border-top: solid 1px $cafe-light;
      background-color: $cafe-light;

      .item-textarea {
        color: $cafe-primary;
        border: solid 1px $cafe-primary;
        background-color: $cafe-light;

        .text-input::placeholder {
          color: $cafe-primary;
        }
      }

      .button {
         color: $cafe-primary;
      }
    }
}
