// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Originales
//$colors: ( primary : #387ef5, secondary : #32db64, danger : #f53d3d, light : #f4f4f4, dark : #222);

//Tema Día (base)
$base-primary: #747572;
$base-secondary: #bbada0;
$base-danger: #F25F5C;
$base-light: #eee;
$base-dark: #747572;
$base-fondoApp: #faf3dd;
$base-fondoCard: #fff;
$base-fondoBarra: #367F7D;

// Tema Noche
$noche-primary: #F0F1F3;
$noche-secondary: #575C63;
$noche-danger: #133C55;
$noche-light: #7F7F7F;
$noche-dark: #575C63;
$noche-fondoApp: #1F2122;
$noche-fondoCard: #595959;
$noche-fondoBarra: #575C63;

// Tema Sherwood (bosque)
$bosque-primary: #DBE7CB;
$bosque-secondary: #DBE7CB;
$bosque-danger: #955E42;
$bosque-light: #ABC690;
$bosque-dark: #2E4424;
$bosque-fondoApp: #2E4424;
$bosque-fondoCard: #8EB067;
$bosque-fondoBarra: #537F36;

//Tema Café
$cafe-primary: #232020;
$cafe-secondary: #232020;
$cafe-danger: #732C2C;
$cafe-light: #E0D4BC;
$cafe-dark: #232020;
$cafe-fondoApp: #4A3732;
$cafe-fondoCard: #BBAD87;
$cafe-fondoBarra: #856147;

//Tema Purple (Lila)
$lila-primary: #4B224C;
$lila-secondary: #4B224C;
$lila-danger: #7E4E60;
$lila-light: #CFB1DD;
$lila-dark: #4B224C;
$lila-fondoApp: #21121F;
$lila-fondoCard: #CAA1CE;
$lila-fondoBarra: #AB63B5;

// Botones redondos reproducción
$button-round-padding: 1.5rem;
$button-round-border-radius: 20%;
// padding verlical de la línea de reproducción
$range-ios-padding-vertical: 0px;
$range-md-padding-vertical: 0px;
$range-wp-padding-vertical: 0px;
// color y grosor de la línea de reproducción
$range-ios-bar-height: 4px;
$range-md-bar-height: 4px;
$range-wp-bar-height: 4px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Thumnail en iOS al tamaño de Android
$item-ios-thumbnail-size: 90px;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
@import "../theme/app.tema.base";
@import "../theme/app.tema.bosque";
@import "../theme/app.tema.cafe";
@import "../theme/app.tema.lila";
@import "../theme/app.tema.noche";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
