// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Originales
//$colors: ( primary : #387ef5, secondary : #32db64, danger : #f53d3d, light : #f4f4f4, dark : #222);
//$colors: ( primary: #699, secondary: #d2e1dd, danger: #f53d3d, light: #f4f4f4, dark: #222);

// Nuevo estilo
$colors: ( primary: #747572, secondary: #bbada0, danger: #fff, light: #fff, dark: #747572, fondoApp: #faf3dd, fondoCard: #fff, fondoBarra: #367F7D);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Barra superior de la App
$toolbar-background: map-get($colors, fondoBarra);
//$toolbar-border-color
//$toolbar-text-color
//$toolbar-active-color
//$toolbar-inactive-color

// Thumnail en iOS al tamaño de Android
$item-ios-thumbnail-size: 90px;

// Botones redondos reproducción
$button-round-padding: 1.5rem;
$button-round-border-radius: 20%;

// padding verlical de la línea de reproducción
$range-ios-padding-vertical: 0px;
$range-md-padding-vertical: 0px;
$range-wp-padding-vertical: 0px;

// color y grosor
$range-ios-bar-height: 4px;
$range-md-bar-height: 4px;
$range-wp-bar-height: 4px;

$range-ios-bar-background-color: map-get($colors, primary);
$range-md-bar-background-color: map-get($colors, primary);
$range-wp-bar-background-color: map-get($colors, primary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
