// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//@import "../pages/page1/page1";
//@import "../pages/page2/page2";

.msgDescarga { // En teoría es para la barra de mensajes negra
  color: #FF0;
}

a:link, a:visited { // Todos los enlaces de la app sin subrayado
  text-decoration: none;
}

// ******************************************************************* Estilos del menú cafetero app.html

  .menuCafetero {

    ion-label {
      /* Etiquetas de las opciones */
      font-size: 0.9em;
    }

    .button {
      /* Botones pulsables */
      border-radius: 5px;
    }

    .version p {
      /* versión de la App */
      font-size: 0.8em;
      font-weight: bold;
    }

  }
