<ion-header>
    <ion-navbar>
      <ion-title>
          Contenido del programa
      </ion-title>
      <!--ion-buttons start>
          <button ion-button right icon-only clear (click)="cancelar()">
              <ion-icon name="close"></ion-icon>
          </button>
      </ion-buttons-->
    </ion-navbar>
</ion-header>

<ion-content main>
    <ion-list>
        <ion-card *ngFor="let item of capitulo" text-wrap>
            <ion-row (click)="cierra(item.starts_at, item.title)">
              <ion-col col-4>
                  <div id="imagenloc" *ngIf="item.image_url==null">
                      <img [src]="item.image_original_url">
                  </div>
                  <div id="imagen"  *ngIf="item.image_url!=null">
                      <img [src]="item.image_url" />
                  </div>
              </ion-col>
              <ion-col col-8>
                  <ion-row>
                    <h2>{{ item.starts_at | formateaTiempo }}</h2>
                  </ion-row>
                  <ion-row>
                    <div class="texto">
                        <h3>{{ item.title}}</h3>
                    </div>
                  </ion-row>
              </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>
