page-reproductor {

  .scroll {
      height: 100% !important
  }

  .reproductor {
    /* tarjeta del reproductor */
    height: 84%;
    margin-top: 77px;

    #titular {
      /* div para centrar el titular en la tarjeta y separarlo */
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      margin-bottom: 4%;

     ion-card-title {
        a { /* variación del tamaño del texto del titular y enlace al hashtag */
          font-weight: bold;
          font-size: 1.5rem;
        }
        #subTitulo {
          p { /* resto del titular */
            font-size: 1.3rem;
            display: inline;

            a { /* enlace a usr de Twitter */
              font-weight: normal;
              text-decoration: underline;
            }
          }
        }
      }
    }

    #imagen-cap {
      /* div contiene imagen del capítulo, centrada y tamaño variable */
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      img {
        /* imagen del capítulo, para proyección de sombra y encaje en caja sup */
        width: 100%;
        height: auto;
      }
    }

    #enVivo {
      /* botón de reproducción en vivo */
      margin-top: 12%;
      margin-bottom: 13%;

     .button {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
      }
    }

    #botonera {
      /* botonera completa de reproducción en diferido */
      margin-top: 2%;
      width: 70%;
      margin-left: auto;
      margin-right: auto;

     .button {
        /* estilo de los botones del reproductor para fijar la alura */
        height: 20px;
      }
    }

    #barra_reprod {
      /* div barra de reproducción, para poder bajar los otros */
      width: 100%;
      clear: both;
    }
      #tiempo-lleva {
        /* div con el tiempo de reproducción */
        float: left;
      }
      #tiempo-falta {
        /* div con el tiempo de restante */
        float: right;
      }

    .social {
      /* líneas de separación sup e inf en botonera social */
      margin-top: 18%;
      height: 50px;

     .button {
        /* Botones más grandes */
        height: 35px;
        width: 50%;

        ion-icon {
          font-size: 3.2rem;
        }
      }
    }
  }

  @media screen and (min-width: 44em) {
    // iPad Vertical

  }

  @media screen and (min-width: 64em) {
    // iPad Horizontal

    .reproductor {
      #imagen-cap {
        /* div contiene imagen del capítulo */
        float: left;
        padding-left: 5%;
        width: 50%;
      }

      #botonera {
        /* botonera completa de reproducción en diferido */
        float: left;
        margin-top: 10%;
        width: 50%;
      }

      #barra_reprod {
        /* div barra de reproducción, para poder bajar los otros */
        float:left;
        width: 45%;
        padding-left: 5%;
        clear: none;
      }

      .social {
        float: left;
        margin-top: 10%;
        width: 40%;
        margin-left: 5%;
      }
    }
  }
}
