page-reproductor {

  .scroll {
    height: 100% !important
  }

  .reproductor {
    /* tarjeta del reproductor */
    //height: 90%;
    margin-top: 77px;

    #titular {
      /* div para centrar el titular en la tarjeta y separarlo */
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      margin-bottom: 4%;

     ion-card-title {
        a { /* variación del tamaño del texto del titular y enlace al hashtag */
          font-weight: bold;
          font-size: 1.5rem;
        }
        #subTitulo {
          p { /* resto del titular */
            font-size: 1.3rem;
            display: inline;

            a { /* enlace a usr de Twitter */
              font-weight: normal;
              text-decoration: underline;
            }
          }
        }
      }
    }

    #imagen-cap {
      /* div contiene imagen del capítulo, centrada y tamaño variable */
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      ion-fab {
        position: absolute;
        bottom: 0px;
        padding: 0px;
      }

      img {
        /* imagen del capítulo, para proyección de sombra y encaje en caja sup */
        width: 100%;
        height: auto;
      }
    }

    #enVivo {
      /* botón de reproducción en vivo */

      ion-label {
        // Elimina un padding left de serie
        margin: 0px;
      }

        .enVivoTexto {
          // Estilo para la etiqueta EN VIVO
          padding: 5px;
          font-size: 1.5rem;
          font-weight: bold;
        }

      ion-col {
        // Centrado del contenido de la columna
        text-align: center;
        //border:solid 1px red;
      }

      button {
        // Corrección de centrado del contenido del botón en iOS
        padding: 0px;
      }

      .botonDirecto {
        font-size: 5rem;
        font-weight: bold;
        height: 90px;
        //border:solid 1px blue;
      }

      .botonDirectoStop {
        font-size: 3.8rem;
        font-weight: bold;

        ion-icon {
          // centrado para hacerlo visualmente similar al resto
          padding-top: 20px;
          padding-right: 8px;
        }
       }
    }

    #botonera {
      /* botonera completa de reproducción en diferido */
      margin-top: 2%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .playBtn {
        /* estilo de los botones play/pause */
        ion-icon {
          font-size: 5rem;
        }
      }

      .ffBtn {
        /* estilo de los botones atrás/adelante */
        padding-top: 10px;

        ion-icon {
          font-size: 3rem;
        }
      }
    }

    #barra_reprod {
      /* div barra de reproducción, para poder bajar los otros */
      width: 100%;
      clear: both;
      margin-bottom: 60px;

      #tiempo-lleva {
        /* div con el tiempo de reproducción */
        float: left;
      }
      #tiempo-falta {
        /* div con el tiempo de restante */
        float: right;
      }
    }

    .social {
      /* líneas de separación sup e inf en botonera social */
      margin-top: 0%;
      height: 50px;

     .button {
        /* Botones más grandes */
        height: 35px;
        width: 80%;

        ion-icon {
          font-size: 3.2rem;
        }
      }
      .porcentaje {
          position: relative;
          top: -36px;
          left: 5px;
          font-weight: bold;
      }
    }
  }

  @media screen and (min-width: 35em) and (max-width: 47em) {
    // Móvil 4" Horizontal
    .reproductor {
      height: 94%;

      #titular {
        /* div para centrar el titular en la tarjeta y separarlo */
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 2%;
      }

      #imagen-cap {
        /* div contiene imagen del capítulo */
        float: left;
        padding-left: 5%;
        width: 38%;
      }

      #enVivo {
        /* botón de reproducción en vivo */
        margin-top: -3%;
        width: 60%;
      }

      #botonera {
        /* botonera completa de reproducción en diferido */
        float: left;
        margin-top: -3%;
        margin-left: 7%;
        width: 50%;
      }

      #barra_reprod {
        float:left;
        width: 30%;
        margin-left: 17%;
        clear: none;
        margin-bottom: 0px;


        #tiempo-lleva {
          position: relative;
          top: -40px;
          left: -65px;
        }
        #tiempo-falta {
          position: relative;
          top: -40px;
          left: 65px;
        }
      }

      .social {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  @media screen and (min-width: 64em) {
    // iPad Horizontal

    .reproductor {
      #imagen-cap {
        /* div contiene imagen del capítulo */
        float: left;
        padding-left: 5%;
        width: 50%;
      }

      #enVivo {
          width: 50%;
          margin-top: 100px;
      }

      #botonera {
        /* botonera completa de reproducción en diferido */
        float: left;
        margin-top: 10%;
        width: 50%;
      }

      #barra_reprod {
        /* div barra de reproducción, para poder bajar los otros */
        float:left;
        width: 45%;
        padding-left: 5%;
        clear: none;
        margin-bottom:-40px;
      }

      .social {
        float: left;
        margin-top: 10%;
        width: 40%;
        margin-left: 5%;
      }
    }
  }

}
