page-reproductor {
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    .imgEnVivo {
        height: 50% !important;
        display: block;
        width: auto !important;
    }
    .scroll {
        height: 100% !important
    }
    #titular {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        margin-bottom: 10px;
        border-bottom: solid 1px #ccc;
    }
    .card-title {
        font-weight: bold;
        font-size: 1.6rem;
    }
    #imagen-cap {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #imagen-cap img {
        box-shadow: 3px 3px 3px #999;
    }
    #botonera {
        /* Es lo que mide el FAB en $fab-size variables.scss */
        margin-left: auto;
        margin-right: auto;
        float: left;
    }
    #boton-play {
        width: 80px;
        /* Es lo que mide el FAB en $fab-size variables.scss */
        //margin-left: auto;
        //margin-right: auto;
        float: left;
    }
    #boton-rep {
        width: 30px;
        //margin-left: auto;
        //margin-right: auto;
        float: left;
    }
    #boton-ffwd {
        width: 30px;
        //margin-left: auto;
        //margin-right: auto;
    }
    #barra_reprod {
        width: 100%;
    }
    #tiempo-lleva {
        float: left;
    }
    #tiempo-falta {
        float: right;
    }
    .button {
        height: 20px;
    }
    .social {
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
    }
    .scroll-content {
        background-color: #777;
    }
    .card {
        background-color: #ddd;
    }
}